.message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .my-message {
    justify-content: flex-end;
    text-align: right;
  }
  
  .my-message-content {
    background-color: #DCF8C6;
  }
  
  .other-message {
    justify-content: flex-start;
    text-align: left;
  }
  
  .other-message-content {
    background-color: #E5E5EA;
  }
  
  .message {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .sender-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .video-container video {
    max-width: 100%; /* Ensure video doesn't exceed its container */
  }
  
  .download-link {
    font-size: 30px; /* Adjust the font size as needed */
    margin-top: 10px; /* Adjust spacing between video and download link */
  }
  

  .audio-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }


  .selected-user {
    color: black; 
    font-weight: bold;
  }
  