.message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .my-message {
    justify-content: flex-end;
    text-align: right;
  }
  
  .my-message-content {
    background-color: #DCF8C6;
  }
  
  .other-message {
    justify-content: flex-start;
    text-align: left;
  }
  
  .other-message-content {
    background-color: #E5E5EA;
  }
  
  .message {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .sender-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  